<nav class=" teal lighten-2">
  <div class="nav-wrapper">
    {{#link-to 'index' class="brand-logo"}}Congressional Explorer{{/link-to}}
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="sass.html">Sass</a></li>
      <li><a href="badges.html">Components</a></li>
      <li><a href="collapsible.html">JavaScript</a></li>
    </ul>
  </div>
</nav>


<div class="jumbotron  teal lighten-5">
  <h1>Congressional Explorer</h1>
</div>

<div class="container">

  {{outlet}}
</div>
