{{log model}}
{{#each model.committee as |subcommittee|}}
  <h2>Details for <a href="{{subcommittee.url}}" target="_blank">{{subcommittee.name}}</a></h2>
  {{subcommittee-display subcommittee=subcommittee bills=model.bills}}
{{/each}}
